.venv/
data/*
!data/sample.json

spark/*

__pycache__/
spark-*/

# output files
entire-database-spark-pageranks/
entire-database-spark-tfidf/
sample-spark-pageranks/
sample-spark-tfidf/
query-database-parquet/
entire-database-spark-expirements/