.venv/
data/*
!data/sample.json

spark/*

__pycache__/
spark-*/

# output files
entire-database-spark-pageranks/
entire-database-spark-tfidf/
sample-spark-pageranks/
sample-spark-tfidf/
query_database.parquet/
entire-database-spark-experiments/